extends layout

block resources
	link(rel='stylesheet', href='/css/about.css')

block content
	.content
		p
		| The Stanford Triathlon Team is a group of dedicated triathletes made up of members of the Stanford community.  Among our ranks you'll find seasoned veterans of swimming, biking, and running, as well as many who are just starting out and on their way.  Our two professional coaches are well equipped to handle them all!  We practice every day, but we'll love you no matter how many times a week you come and join us!

		p
		| During the West Coast Collegiate Triathlon Conference (WCCTC, if you don't want to say that whole mouthful) season, much of the team focuses on climbing the podium at Conference Championships and USA Club Triathlon Nationals, while non-collegiate members train for local races, ultra-distance triathlons, USA Triathlon age-group nationals, or even just for fun! We also host a yearly race, the Treeathlon, featuring one of the fastest sprint-distance triathlon courses in the bay area.

		p
		| If any or all of that sounds like fun to you (hint: it should!), visit our "Join the Team" page!  Alternatively, shoot us an email if you have any questions.

		p
		| [Team Contacts]
