doctype html
html
	head
		title STANFORD TRIATHLON
		link(rel='stylesheet', href='css/home.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')


	body
		div(id='titlebar')
			| STANFORD
			img(src='https://sites.stanford.edu/triathlon/sites/default/files/su_blockstree_black_transparent_ondark_1.png')
			| TRIATHLON

		div(id='navbar')
			div(class='navbutton') HOME
			a(href='about')
				div(class='navbutton') ABOUT
			a(href='photos')
				div(class='navbutton') PHOTOS
			a(href='training')
				div(class='navbutton') TRAINING
			a(href='join')
				div(class='navbutton') JOIN THE TEAM

		div(id='heroimg')
			img(src='https://sites.stanford.edu/triathlon/sites/default/files/tri_triangle.jpg')

		div(id='socialbar')
			//span(class='socialbutton facebook')
				//| f
			//span(class='socialbutton twitter')
				//| t
			//replace these with image tags.  They'll work much better.

		div(id='sponsors')
			| OUR SPONSORS
			div(id="line1")
				img(src="https://web.stanford.edu/group/triathlon/images/MV_logo.jpg")
				img(src="https://web.stanford.edu/group/triathlon/images/zoot_logo.png")
				img(src="https://web.stanford.edu/group/triathlon/images/stanfordclubsports.jpg")
				img(src="https://web.stanford.edu/group/triathlon/images/specialized_logo.gif")
				img(src="https://web.stanford.edu/group/triathlon/images/roka.jpg")
			div(id="line2")
				img(src="")