extends layout

block resources
	link(href='css/join.css', rel='stylesheet')

block content
	div(class='content')
		h2 WHO CAN JOIN
		p
		| The team is open to all registered Stanford students (undergraduate and graduate), post-doctoral students, faculty, and staff, as well as their respective family members. The team is also open to alumni of Stanford University and/or of the team.

		h2 DO I HAVE TO BE FAST?
		p
		| Not in the slightest.  Whether you're a complete beginner or an elite athelete, casual or uber dedicated, we want you.  No matter what your status, give our program some time and you'll be amazed at what it can do for you.

		h2 OKAY, I'M IN - WHAT NOW?!
		ol
			li Register with club sports [link].  This is for liability purposes.  Pesky waivers.
			li Show up to a practice[link] to try the team on for size (hint: you'll like us)!  Introduce yourself!  Have fun!  Just a few things:
			ul
				li If you want to come to a swim practice, let us know[link] 2-3 days ahead of time.  Pesky pool access lists.
				li If the practice says "road bikes only", you should have a road bike.  You'll know its a road bike because it has curvy handlebars and you probably paid more than you wanted to for it.

		h2 WELL THAT PRACTICE I WENT TO WAS FUN!  SIGN ME UP!
		ol
			li Join our mailing lists!  This is where you'll get lots of fun info about what the team is up to.  It's not spam, we promise.
			li Pay dues.  These help us pay for our awesome coaches, subsidize races, and buy equipment (insert other things here)
			li Fulfill team responsibilities (really more fun than actual responsibility)
			li Profit(link)

