doctype html
html
	head
		title= title
		link(rel='stylesheet', href='css/layout.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
		block resources
	

	body
		div(id='navbar')
			span(id='title') STANFORD TRIATHLON
			a(href='join')
				span(class='navbutton') JOIN
			a(href='training')
				span(class='navbutton') TRAINING
			a(href='photos')
				span(class='navbutton') PHOTOS
			a(href='about')
				span(class='navbutton') ABOUT
			a(href='home')
				span(class='navbutton') HOME

		block content
