extends layout

block resources
	link(rel='stylesheet', href='css/officers.css')

block content
	div(class='officer')
		div(class='picviewport')
			img(src='img/officers/LensonPellouchoud.jpg')
		//div(class='officertext') Lenson Pellouchoud
			//br
			//| VP
			//br
			//| lenson at stanford dot edu
			//br
			//| Legend has it he was raised by wolves in the depths of the arctic tundra.  Or he went to Brown, one of the two.

	div(class='officer')
		div(class='picviewport')
			img(src='img/officers/AlexBertrand.jpg')
		span(class='officertext') Alex Bertrand
			br
			| Comm Director
			br
			| alex at stanford dot edu
			br
			| Alex somehow got his sorry ass on to the officer team, we're still not quite sure whether to be happy or terrified.