extends layout

block resources
	link(href='css/training.css', rel='stylesheet')

block content
	div(class='content')

		| <iframe src="https://www.google.com/calendar/embed?src=stanford.tri.calendar%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>